@charset "utf-8";
	body {
	margin:0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333333;
	background-color:#ffffff;
}
a {
	color:#555555;
	text-decoration:none;
}
a:hover {
	color:#ff6600;
	text-decoration:underline;
}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container {
	width:auto;
}
.container {
	margin-right:30px;
	margin-left:30px;
	*zoom:1;
}
.container:before,.container:after {
	display:table;
	line-height:0;
	content:"";
}
.container:after {
	clear:both;
}
.container-fluid {
	padding-right:20px;
	padding-left:20px;
	*zoom:1;
}
.container-fluid:before,.container-fluid:after {
	display:table;
	line-height:0;
	content:"";
}
.container-fluid:after {
	clear:both;
}
p {
	margin:0 0 13px;
	font-weight:bold;
}
table {
	max-width:100%;
	background-color:transparent;
	border-collapse:collapse;
	border-spacing:0;
}
.table {
	width:100%;
	margin-bottom:18px;
}
.table th,.table td {
	padding:8px;
	line-height:18px;
	text-align:left;
	vertical-align:top;
	border-top:1px solid #dddddd;
}
.table th {
	font-weight:bold;
}
.table thead th {
	vertical-align:bottom;
}
.table caption + thead tr:first-child th,.table caption + thead tr:first-child td,.table colgroup + thead tr:first-child th,.table colgroup + thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td {
	border-top:0;
}
.table tbody + tbody {
	border-top:2px solid #dddddd;
}
.table-condensed th,.table-condensed td {
	padding:4px 5px;
}
.table-bordered {
	border:1px solid #dddddd;
	border-collapse:separate;
	*border-collapse:collapsed;
	border-left:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.table-bordered th,.table-bordered td {
	border-left:1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,.table-bordered caption + tbody tr:first-child th,.table-bordered caption + tbody tr:first-child td,.table-bordered colgroup + thead tr:first-child th,.table-bordered colgroup + tbody tr:first-child th,.table-bordered colgroup + tbody tr:first-child td,.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td {
	border-top:0;
}
.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child {
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
}
.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child {
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child {
	-webkit-border-radius:0 0 0 4px;
	-moz-border-radius:0 0 0 4px;
	border-radius:0 0 0 4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child {
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
}
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th {
	background-color:#f9f9f9;
}
.table tbody tr:hover td,.table tbody tr:hover th {
	background-color:#f5f5f5;
}
.nav {
	margin-bottom:18px;
	margin-left:0;
	list-style:none;
}
.nav {
	margin-bottom:20px;
	margin-left:0;
	list-style:none;
}
.nav > li > a {
	display:block;
}
.nav > li > a:hover {
	text-decoration:none;
	background-color:#eeeeee;
}
.navbar {
	*position:relative;
	*z-index:2;
	margin-bottom:20px;
	overflow:visible;
	color:#777777;
}
.navbar-inner {
	min-height:40px;
	padding-right:20px;
	padding-left:20px;
	background-color:#fafafa;
	background-image:-moz-linear-gradient(top,#ffffff,#f2f2f2);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f2f2f2));
	background-image:-webkit-linear-gradient(top,#ffffff,#f2f2f2);
	background-image:-o-linear-gradient(top,#ffffff,#f2f2f2);
	background-image:linear-gradient(to bottom,#ffffff,#f2f2f2);
	background-repeat:repeat-x;
	border:1px solid #d4d4d4;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
	*zoom:1;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);
	box-shadow:0 1px 4px rgba(0,0,0,0.065);
}
.navbar-inner:before,.navbar-inner:after {
	display:table;
	line-height:0;
	content:"";
}
.navbar-inner:after {
	clear:both;
}
.navbar .container {
	width:auto;
}
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner {
	border-width:0 0 1px;
}
.navbar-fixed-bottom .navbar-inner {
	border-width:1px 0 0;
}
.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
	padding-right:0;
	padding-left:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.navbar .nav {
	position:relative;
	left:0;
	display:block;
	float:left;
	margin:0 10px 0 0;
}
.navbar .nav > li {
	float:left;
}
.navbar .nav > li > a {
	float:none;
	padding:10px 15px 10px;
	color:#777777;
	text-decoration:none;
	text-shadow:0 1px 0 #ffffff;
}
.navbar .nav > li > a:focus,.navbar .nav > li > a:hover {
	color:#333333;
	text-decoration:none;
	background-color:transparent;
}
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
	color:#555555;
	text-decoration:none;
	background-color:#e5e5e5;
	-webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
	-moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
}
.hero-unit {
	padding:60px;
	margin-bottom:30px;
	font-size:13px;
	line-height:30px;
	color:inherit;
	background-color:#eeeeee;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.hero-unit li {
	line-height:30px;
}
.pagelist {
	margin-left:10px;
	font-weight:bold;
}
i {
	display:block;
	overflow:hidden;
}
.list-micon {
	display:inline-block;
	padding:5px 8px;
	vertical-align:-20%;
	cursor:pointer;
}
.icon-download i {
	width:10px;
	height:11px;
	background:url(/css/img/8sbYJuCK.png) no-repeat -168px -48px;
}
.icon-share i {
	width:11px;
	height:11px;
	background:url(/css/img/8sbYJuCK.png) no-repeat -168px -216px;
}
.icon-qiuniu  i{
	width:15px;
	height:15px;
	background:url(/css/img/qiniu.jpg) no-repeat -0px  -0px;
}
